html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  @include coco400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

