@import "fonts";
@import "vars";
@import "global";

//start header main-screen

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 1625px;
  width: 100%;
  padding: 0 15px;
  z-index: 10;
  &__inner {
    display: flex;
  }

  &__link {
    margin-top: 37px;
    margin-left: auto;
  }
}

.logo {
  padding-top: 33px;
  margin-right: 116px;
}

.menu {
  padding-top: 52px;
  &__list {
    display: flex;
  }

  &__list-item {
    & + & {
      margin-left: 50px;
    }
  }

  &__link {
    @include coco400;
    font-size: 18px;
    color: #000000;
    position: relative;
    border-bottom: 3px solid transparent;
    &:hover,
    &:focus {
      color: $orange;
      border-bottom: 3px solid $orange;
    }
    &:active {
      color: red;
      border-bottom: 3px solid red;
    }
  }
}

.main-screen {
  background-image: url(../images/background/main-screen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    padding-top: 500px;
    margin-bottom: 20px;
    @include j600;
    font-size: 85px;
    line-height: 95px;
    color: #ffffff;
    &--orange {
      color: $orange;
    }
  }

  &__subtitle {
    font-size: 25px;
    color: #ffffff;
    padding-left: 95px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 3px;
      width: 66px;
      height: 3px;
      background-color: $orange;
    }
  }

  &__bottom {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    max-width: 1625px;
    width: 100%;
    padding: 0 15px;
    color: #ffffff;
  }

  &__scroll {
    position: relative;
    padding-left: 30px;
    margin-right: 135px;
    font-size: 18px;
    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      background-image: url(../images/icon/sprite.png);
      background-position: -78px -50px;
      width: 18px;
      height: 26px;
    }
  }
}

.social {
  margin-left: auto;
  margin-bottom: 55px;
  font-size: 0;
  &__vk,
  &__instagram,
  &__facebook {
    background-image: url(../images/icon/sprite.png);
    background-position: -24px -54px;
    width: 22px;
    height: 23px;
    cursor: pointer;
  }

  &__instagram {
    background-image: url(../images/icon/sprite.png);
    background-position: -78px 0px;
    margin-left: 29px;
  }

  &__facebook {
    background-image: url(../images/icon/sprite.png);
    background-position: -46px -54px;
    margin-left: 29px;
  }
}

//end header main-screen
//products

.products {
  height: 100vh;
  text-align: center;
  color: #4a4948;
  &__inner {
    position: relative;
  }

  &__title {
    padding-top: 175px;
    margin-bottom: 100px;
  }

  &__items {
    min-height: 500px;
  }

  &__item {
    margin-bottom: 35px;
  }

  &__item-image {
    margin-bottom: 50px;
    width: 242px;
    height: 255px;
    object-fit: fill;
    transition: all 1s;
  }

  &__item-title {
    @include coco700;
    font-size: 25px;
    transition: all 1s;
  }

  &__item-bprev,
  &__item-bnext {
    position: absolute;
    top: 50%;
    width: 17px;
    height: 32px;
    background-image: url(../images/icon/arr-left.png);
    cursor: pointer;
    outline: none;
  }

  &__item-bprev {
    left: -50px;
  }

  &__item-bnext {
    right: -50px;
    background-image: url(../images/icon/arr-right.png);
  }

  &__text {
    max-width: 600px;
    margin: 0 auto;
    @include coco400;
    font-size: 20px;
    line-height: 25px;
  }

  .swiper-slide-active {
    &::after {
      content: "";
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%);
      width: 80px;
      height: 3px;
      background-color: $orange;
    }
    .products__item-title {
      font-size: 35px;
    }
  }

  .swiper-slide-active img {
    height: 300px;
    width: 300px;
    position: relative;
  }
}

//end products
//start advantages

.advantages {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $orange;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 390px;
  }

  &__inner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/advantages/background.jpg);
      background-repeat: no-repeat;
      width: 591px;
      height: 407px;
      bottom: 0;
      right: -220px;
    }
  }

  &__title {
    padding-top: 200px;
    margin-bottom: 54px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 650px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    width: 100%;
  }

  &__number {
    display: block;
    color: $orange;
    @include j500;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 25px;
  }

  .quality {
    padding-top: 60px;
    color: #ffffff;
    &__inner {
      position: relative;
      max-width: 520px;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/advantages/milk.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        top: -280px;
        left: 120%;
        width: 815px;
        height: 621px;
      }
    }

    &__title {
      color: #ffffff;
      line-height: 50px;
      margin-bottom: 20px;
    }

    &__text {
      @include coco400;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 50px;
    }

    &__link {
      position: relative;
      @include coco400;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../images/icon/sprite.png);
        width: 78px;
        height: 24px;
        top: 3px;
        left: 95px;
      }
    }
  }
}

//end advantages
//start hypermarket

.hypermarket {
  background-color: #f1f1f3;
  &__inner {
    padding-top: 185px;
  }

  &__title {
    max-width: 590px;
    margin-bottom: 50px;
    line-height: 70px;
  }

  &__text {
    margin-bottom: 80px;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 233px;
    height: 248px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    &:hover {
      background-color: #faad28;
    }
    &--grey {
      background-color: #efefef;
    }
  }

  &__item-image {
    padding-top: 100px;
    margin-bottom: 40px;
  }

  &__item-title {
    @include coco700;
    font-size: 15px;
    text-transform: uppercase;
  }
}

//end hypermarket
//start connection

.connection {
  &__title {
    max-width: 800px;
    padding-top: 300px;
    margin-bottom: 50px;
  }
}

//ens connection
//start footer

.footer {
  position: relative;
  background-color: #f1f1f3;
  &__wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $orange;
  }

  &__inner {
    color: #ffffff;
  }

  &__top {
    padding-top: 55px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #ffffff;
  }

  &__logo {
    margin-right: auto;
    width: 96px;
    height: 47px;
  }

  &__list {
    column-count: 2;
    column-gap: 60px;
    margin-right: 70px;
  }

  &__link,
  &__contacts-tel,
  &__contacts-mail,
  &__address {
    @include coco400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    &:hover,
    &:focus {
      color: #ff0000;
    }
    &:active {
      color: #000000;
    }
  }

  &__contacts {
    max-width: 175px;
    margin-right: 70px;
  }

  &__contacts-mail {
    margin-bottom: 10px;
  }

  &__address {
    max-width: 190px;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 50px;
  }
}

//end footer
